.env

#
# ディレクトリだけgit管理下に置きたい場合、.gitkeepを最後にする
#
!tmp/
!**/tmp/
tmp/*
**/tmp/*

#
# cloudformation.yml はいつでもignore
#
cloudformation.yml

#
# 素振りの時は削除
#
!isu-webapp/
!isu-common/
isu-*/*

# 最後にする
!.gitkeep
